In [1]:
import json
import pandas as pd

In [2]:
data = json.loads(open('player_data.json').read())

In [8]:
df = pd.DataFrame()

for person in data:
    if len(person['GAMELOG']) == 0:
        continue
    df1 = pd.DataFrame(person, columns=['DISPLAY_FIRST_LAST', 'PERSON_ID', 'TEAM_ID'], index=[0])
    df2 = pd.DataFrame(person['GAMELOG'])
    merged = pd.merge(df1, df2, left_on='PERSON_ID', right_on='Player_ID', how='outer')
    df = pd.concat([df, merged])
    
df.reset_index(drop=True, inplace=True)
df.columns

Index(['DISPLAY_FIRST_LAST', 'PERSON_ID', 'TEAM_ID_x', 'AST', 'BLK', 'DREB',
       'FG3A', 'FG3M', 'FG3_PCT', 'FGA', 'FGM', 'FG_PCT', 'FTA', 'FTM',
       'FT_PCT', 'GAME_DATE', 'Game_ID', 'MATCHUP', 'MIN', 'OREB', 'PF',
       'PLUS_MINUS', 'PTS', 'Player_ID', 'REB', 'SEASON_ID', 'STL',
       'TEAM_ABBREVIATION', 'TEAM_ID_y', 'TOV', 'VIDEO_AVAILABLE', 'WL'],
      dtype='object')

In [7]:
df.head(5)

,DISPLAY_FIRST_LAST,PERSON_ID,TEAM_ID_x,AST,BLK,DREB,FG3A,FG3M,FG3_PCT,FGA,...,PTS,Player_ID,REB,SEASON_ID,STL,TEAM_ABBREVIATION,TEAM_ID_y,TOV,VIDEO_AVAILABLE,WL
0,Alex Abrines,203518,0,0,0,0,1,0,0.000,2,...,0,203518,0,22018,0,OKC,1610612760,0,1,W
1,Alex Abrines,203518,0,0,0,1,2,1,0.500,2,...,3,203518,1,22018,0,OKC,1610612760,0,1,W
2,Alex Abrines,203518,0,0,2,1,5,1,0.200,6,...,7,203518,1,22018,0,OKC,1610612760,0,1,L
3,Alex Abrines,203518,0,0,0,1,4,2,0.500,4,...,6,203518,1,22018,0,OKC,1610612760,0,1,W
4,Alex Abrines,203518,0,1,0,1,7,3,0.429,7,...,9,203518,1,22018,0,OKC,1610612760,0,1,W

In [ ]:
print(df[['DISPLAY_FIRST_LAST']][df['PTS'] == df['PTS'].max()])
print(df[['DISPLAY_FIRST_LAST']][df['REB'] == df['REB'].max()])
print(df[['DISPLAY_FIRST_LAST']][df['BLK'] == df['BLK'].max()])
print(df[['DISPLAY_FIRST_LAST']][df['AST'] == df['AST'].max()])

In [ ]:
x = df.groupby(['PERSON_ID'])['PTS'].sum()
x.max()

In [ ]:
df.groupby(['PERSON_ID'].count()>82)       #['PTS'].count()

#df.loc[df["color_intensity"]>10, "color_intensity"] = 10